<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
				<a href="/">Inicio</a>
                <a href="/quienessomos">¿Quienes somos?</a>
				<a href="/recetassaladas">Recetas saladas</a>
				<a href="/recetasdulces">Recetas dulces</a>
				<a href="/comunicateconnosotros">¡Comunicate con nosotros!</a>
			</nav>
    {{{body}}}
  </body>
</html>
