<img src="images/abuela-cocinando-cocina-dibujos-animados_40876-2446.webp"  alt="...">
 <link rel="stylesheet" href="/stylesheets/qs estilos.css">
<div id="textcontaniner">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, tempore rem esse vitae labore ipsum recusandae explicabo autem quae earum quidem nisi non provident sunt odio cum qui sit. Reprehenderit?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus neque libero illo similique in at praesentium, commodi quos quas harum aliquid corrupti doloribus molestias enim impedit temporibus nemo cumque quibusdam.
  </p>